# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Health check output written by terraform apply
iis_health_check.txt
